.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--mantine-spacing-md);
  position: relative;
}

.infoPanel {
  position: fixed;
  bottom: var(--mantine-spacing-md);
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  width: calc(100% - 2 * var(--mantine-spacing-md));
  z-index: 100;
}
