.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 56px; /* Account for fixed header */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
