.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.grid {
  --hex-size: 50px;
  --hex-width: calc(var(--hex-size) * 1.1547);
  --hex-height: var(--hex-size);
  --hex-gap: 2px;

  list-style: none;
  padding: 0;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  gap: calc(var(--hex-width) + var(--hex-gap) * 2);
}

.row:not(:first-child) {
  margin-top: calc(var(--hex-height) * -0.5 + var(--hex-gap) * -0.5);
}

@media (min-width: 480px) {
  .grid {
    --hex-size: 60px;
  }
}

@media (min-width: 768px) {
  .grid {
    --hex-size: 70px;
  }
}

@media (min-width: 1200px) {
  .grid {
    --hex-size: 80px;
  }
}
