.grid {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  width: 100%;
  padding: 0;
  // TODO: figure out a better way to lay out the grid items so that
  // we don't have this kind of craziness
  margin: -1500% 0 30px;
  list-style: none;
}
