.toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.listItem {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}
