.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 200px);
  padding-top: var(--mantine-spacing-xl);
}

.heading {
  text-align: center;
  margin-bottom: var(--mantine-spacing-md);
}

.rollDisplay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: var(--mantine-primary-color-filled);
  color: white;
  min-width: 100px;
  text-align: center;
}

.status {
  text-align: center;
  max-width: 400px;
  width: 100%;
}

/* Visually hidden utility */
.visuallyHidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Global visually-hidden class */
:global(.visually-hidden) {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
