.container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.heading {
  margin: 10px auto;
  font-size: 1.75rem;
}

.status {
  margin: 0 auto 10px;
  font-size: 1rem;
  font-weight: normal;
}

.modifiers {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  font-size: 0.825rem;
  font-weight: normal;
}

.modifiersHeader {
  margin: 0 5px 10px auto;
  font-size: inherit;
  font-weight: inherit;
}

.modifierList {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;

  > li {
    display: inline-block;
    margin-right: 5px;
    font-size: inherit;
    font-weight: inherit;

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 20px;

  p:last-child {
    margin: 15px auto 0;
    font-size: 0.725rem;
    line-height: 1;
  }
}

.roll {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex;
  color: #fff;
  background-color: rgba(35, 35, 35, 0.8);
  z-index: 25;

  > p {
    margin: auto;
    line-height: 1;
    font-size: 10rem;
  }
}
