:root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (min-width: 769px) {
  :root {
    overflow: hidden;
  }
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
